body{
    background-image: url(https://newsimg.nitrado.net/2018/08/extinctionpreview.jpg);
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
    margin: 0;
    padding: 0;
}
   
    
header{display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color:  rgba(255, 255, 255, 0.95);     
        position: fixed; 
        height: 80px; 
}   

.icono{padding-left: 30px;
}

.logo{height: 70px;
    transition: transform 75ms linear
}

.logo:hover{
    transform-origin:center;
    transform:scale(1.3)  
}

.nav{font-size: 35px;
    padding-right: 60px;
    margin-bottom: 7px;
    display: flex;
    flex-wrap: wrap;
}

.mainpage{margin-right: 50px;
    transition: transform 75ms linear
}

.maxipage{transition: transform 75ms linear
}

.mainpage:hover{transform-origin:center;
    transform:scale(1.2)
}

.maxipage:hover{transform-origin:center;
    transform:scale(1.2)
}

.principal{padding-right: 20px;}
.brawl{padding-right: 20px;}

.nav a{text-decoration: none;
    color: firebrick;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-shadow: black 2px 2px 3px;
}

.main{margin-top: 75px;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.9);
}

h1{color: rgba(233, 48, 48);
    font-size: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: white 1px 1px 3px;
}

.video{width: 80%;
    height: 550px;
    overflow: hidden;

}

.img{width: 80%;
    height: 550px;
    overflow: hidden;
}

p{color: darkorange;
        font-size: 20px;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: darkred 3px 3px 1px;
        padding-right: 20px;
        padding-left: 20px;
}

aside{ background-color: rgba(141, 38, 72, 0.8);
    display: flex;
    flex-direction: column;
    width: 17.5%;
    padding-top: 50px;
}

h2{font-family: 'Ubuntu', sans-serif;}

.titulovideos{ font-size: 32px;
    text-align: center;
    padding-top: 35px;
    text-shadow: lightgray 1px 1px 0px;
}

.tutorial{width: 250px;
    height: 250px;
    margin: auto;
}

.videot{width: 250px;
    height: 250px;

}

footer{background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.requisitos{text-align: left;
    padding-left: 40px;
    color: rgb(187, 187, 187);
}

ul{text-align: justify;
list-style-type: none;
color:rgb(187, 187, 187);
font-family: 'Ubuntu', sans-serif;
}

.redes{margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.redes a{text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: firebrick;
    font-size: 30px;
}

.twitter{margin-right: 40px;
        transition: transform 75ms linear;
}

.facebook{transition: transform 75ms linear
}

.twitter:hover{transform-origin:center;
    transform:scale(1.2)
}

.facebook:hover{transform-origin:center;
    transform:scale(1.2)
}



@media (max-width:768px) {
    body{flex-wrap: nowrap;
        flex-direction: column
    }

    header{position: unset;
    }

    .logo{margin-left: 0px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-self: center;   
    }

    aside{width: 100%;
        padding-top: 0px;
        display: flex;
        align-items: center;
    }

    .titulovideos{padding-top: 0;}

    .tutorial{margin: 25px;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav{ padding-right: 5px;
        padding-left: 0px;
        font-size: 15px;
    }

    .main{width: 100%;
        margin: 0%;
    }

    
    h1{font-size: 50px;
    }

    iframe{width: 80%;
    }

    .video{height: 190px;
        width: 300px;
    }

    .videot{height: 190px;
        width: 300px;   
    }

    p{font-size: 15px;
    }

    .img{height: 250px;
        width: 90%;
    }

    footer{display: flex;
        flex-direction: column;
    }

    .requisitos{width: 100%;
        padding: 0;
        text-align: center;
    }

    ul{font-size: 13px;
        padding-left: 10px;
        width: 90%;
    }

    .redes{
        padding-bottom: 5px;
        display: flex;
        flex-flow: row;
        margin: auto;
    }

    .twitter{font-size: 10px;}
}


        